DumpFilesIndex.txt
ConfigDumpInfo.xml
ParentConfigurations/
ParentConfigurations.bin
*.cf
/.metadata
/Sonar/temp
/Tests/build/
/build/
/.local/
/local*
allure-report/
/Scripts/packman.conf
/tmp*
BuildStatus.log
